@import "/src/style/variables.scss";
@import "/src/style/mixin.scss";

* {
    margin: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    background-color: $background-color;
    color: $text-color;
    font-family: $text-font;
    font-size: $common-fs;
    height: 100vh;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

@each $name, $desktop-background in $desktop-backgrounds {
    ##{$name}{
        @include flex;
        @include backgroundImg;
        background-image: $desktop-background;
    }
}
.wrapper {
    width: 90%;
    max-width: 1110px;
}

// -----------------------------------------HOME------------------------------------>
.home {
    @include flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 140px;
    &-content {
        overflow: hidden;
    }
    &-content-text {
        width: 444px;
        line-height: 32px;
        color: $secondary-color;
    }
}

// ------------------------------------------DESTINATION---------------------------------------->
.destination {
    padding-top: 130px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 12px;
    grid-template-areas: 
    "a a a a a a a a a a a a"
    "c c c c c c c b b b b b"
    "c c c c c c c d d d d d"
    "c c c c c c c e e e e e";
    @each $area in $grid-areas{
        .item-#{$area}{
            // border: 1px solid white;
            grid-area: #{$area};
        }
    }
    @media (max-width: $tablet){
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 90%;
        .item-a {
            width: 100%
        }
    }
}
.destination {
    &-img {
        @include flex;
    }
    &-menu {
        ul {
            display: flex;
            li {
                &:not(:last-child){
                    margin-right: 34px
                }
                font-family: $heading-font;
                font-size: $common-fs;
                letter-spacing: $spacing2;
                color: $secondary-color;
                text-indent: 1px;
                line-height: 34px;
                cursor: pointer;
                &:hover {
                    border-bottom: 3px solid $opacity-color;
                }
            }
        }
    }
    &-subheading {
        display: flex;
        padding-bottom: 30px;
        span {
            font-family: $heading-font;
            font-size: $sub-heading-fs-desktop;
            letter-spacing: $sh-spacing-desktop;
            font-weight: bold;
            color: $opacity-color;
            padding-right: 30px;
        }
    }
    &-detail {
        display: flex;
        div{
            &:first-child{
                margin-right: 100px;
            }
        }
        h5 {
            font-family: $heading-font;
            font-size: $common-fs - 4px;
            font-weight: 400;
            color: $secondary-color;
            letter-spacing: $spacing3;
            text-indent: 1;
            text-transform: uppercase;
            padding-top: 28px;
            padding-bottom: 15px;
        }
        h3 {
            font-family: $title-font;
            font-size: $sub-heading-fs-desktop;
            font-weight: 400;
            text-indent: 1px;
            text-transform: uppercase;
        }
    }
}
@media (max-width: $tablet){
    @each $name, $tablet-background in $tablet-backgrounds {
        ##{$name}{
            @include flex;
            @include backgroundImg;
            background-image: $tablet-background;
        }
    }
    .home {
        height: 100%;
        text-align: center;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 100px;
    }
    .destination {
        text-align: center;
        &-menu, &-content, &-detail {
            @include flex;
        }
        &-subheading {
            padding-bottom: 0;
            span {
                font-size: $sub-heading-fs-tablet;
                letter-spacing: $sh-spacing-tablet;
            }
        }
        &-img {
            padding-bottom: 0;
            img {
                width: 300px;
            }
        }
        &-menu {
            ul {
                li {
                    font-size: 16px;
                }
            }
        }
        &-content {
            flex-direction: column;
        }
        &-detail {
            h5 {
                font-size: 14px;
            }
            h3 {
                font-size: 28px;
            }
        }
    }
}

@media (max-width: $mobile){
    #home {
        background-image: url("../../public/assets/home/background-home-mobile.jpg");
    }
    .home {
        &-content {
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
    .destination {
        padding-top: 40px;
        &-subheading {
            @include flex;
            span {
                font-size: $sub-heading-fs-mobile;
                letter-spacing: $sh-spacing-mobile;
            }
        }
        &-img {
            padding-top: 20px;
            padding-bottom: 20px;
            img {
                width: 170px;
            }
        }
        &-menu {
            width: 240px;
            ul {
                width: 100%;
                @include flex;
                justify-content: space-between;
                li:not(:last-child){
                    margin: 0;
                }
                li {
                    font-size: 14px;
                }
            }
        }
        &-detail {
            flex-direction: column;
            div{
                &:first-child{
                    margin-right: 0;
                }
            }
        }
    }
}