@import "/src/style/variables.scss";
@import "/src/style/mixin.scss";

header {
    @include flex;
    width: 100%;
    height: 96px;
    justify-content: space-between;
    position: fixed;
    top: 40px;
}
.nav-logo {
    flex-basis: 40%;
    @include flex;
    img {
        margin: auto 2rem;
    }
    span {
        flex-grow: 1;
        height: 1px;
        background-color: $title-color;
        position: relative;
        &::after {
            position: absolute;
            content: " ";
            height: 1px;
            width: 40px;
            background-color: inherit;
            top: 50%;
            transform: translateY(-50%);
            left: 100%;
            z-index: 2;
        } 
    }
}
.nav-menu {
    flex-basis: 60%;
    height: 100%;
    font-family: $heading-font;
    font-size: $text-font-size;
    color: $text-color;
    text-transform: uppercase;
    img {
        display: none
    }
    ul {
        @include flex;
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(1rem);
        line-height: 96px;
        justify-content: space-evenly;
        li {
            cursor: pointer;
            span {
                font-weight: bold;
                margin-inline-end: .75em;
            }
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    header {
        top: 0;
    }
    .nav-logo {
        justify-content: flex-start;
        span {
            display: none;
        }
    }
    .nav-menu {
        ul {
            padding-inline-start: 0;
            font-size: 14px;
            span{
                display: none;
            }
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .nav-logo {
        img {
            width: 40px;
            height: auto;
        }
    }
    .nav-menu {
        img {
            display: block;
            position: absolute;
            z-index: 3;
            top: 2rem;
            right: 2rem;
        }
        ul {
            padding-top: 30%;
            position: fixed;
            inset: 0;
            left: 30%;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            transition: transform ease-in-out .2s;
            font-size: 16px;
            padding-inline-start: 2.5rem;
            li {
                position: relative;
                height: 3rem;
                line-height: 3rem;
                letter-spacing: $spacing2;
                span {
                    display: inline-block;
                }
            } 
        }
    }
    .nav-menu {
        ul[data-visible = "false"]{
            transform: translateX(100%);
        }
    }
}