@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin backgroundImg {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

@mixin title($type) {
    text-transform: uppercase;
    color: $text-color;
    font-family: $title-font;
    @if( $type == "space"){
        font-size: $space-fs-desktop;
        @media (max-width: $mobile){
            font-size: $space-fs-mobile;
        }
    }
    @if( $type == "planet"){
        font-size: $planet-fs-desktop;
        margin: 30px auto;
        @media (max-width: $tablet){
            font-size: $planet-fs-tablet;
        }
        @media (max-width: $mobile){
            font-size: $planet-fs-mobile;
            margin: 0;
        }
    }
    @if( $type == "member"){
        font-size: $member-fs-desktop;
        margin: 20px auto;
        @media (max-width: $tablet){
            font-size: $member-fs-tablet;
        }
        @media (max-width: $mobile){
            font-size: $member-fs-mobile;
            margin: 0;
        }
    }
}
@mixin keyframes($name){
    @keyframes #{$name} {
        @content;
    }
}

@mixin animate ($name, $duration, $method, $time, $direction){
    animation: $name $duration $method $time $direction;
}