@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');
// font-family: 'Barlow', sans-serif;
// font-family: 'Barlow Condensed', sans-serif;
// font-family: 'Bellefair', serif;

//Fonts Family
$title-font: 'Bellefair', serif;
$heading-font: 'Barlow Condensed', sans-serif;
$text-font: 'Barlow', sans-serif;
//font-size
$common-fs: 18px;

$nav-fs-desktop: 16px;
$nav-fs-tablet: 14px;
$nav-fs-mobile: 16px;

$space-fs-desktop: 150px;
$space-fs-mobile: 80px;

$planet-fs-desktop: 100px;
$planet-fs-tablet: 80px;
$planet-fs-mobile: 56px;

$member-fs-desktop: 56px;
$member-fs-tablet: 40px;
$member-fs-mobile: 24px;

$role-fs-desktop: 32px;
$role-fs-tablet: 24px;
$role-fs-mobile: 16px;

$sub-heading-fs-desktop: 28px;
$sub-heading-fs-tablet: 20px;
$sub-heading-fs-mobile: 16px;

//character-space
$spacing1: 4.75px;
$spacing2: 2.7px;
$spacing3: 2.35px;

$sh-spacing-desktop: 4.72px;
$sh-spacing-tablet: 3.38px;
$sh-spacing-mobile: 2.7px;

$line-height: 32px;
$line-height-tablet: 28px;
$line-height-mobile: 25px;

//Color
$background-color: hsl(230 35% 7%);
$text-color: hsl(0 0% 100%);
$line-color: #383B4B;
$opacity-color: hsl(0 0% 100% / .4);
$secondary-color: hsl(231 77% 90%);

//breakpoint
$destop: 1280px;
$tablet: 1024px;
$mobile: 640px;

//Background image
$desktop-backgrounds: (
    "home": url("../../public/assets/home/background-home-desktop.jpg"),
    "destination": url("../../public/assets/destination/background-destination-desktop.jpg"),
    "crew": url("../../public/assets/crew/background-crew-desktop.jpg"),
    "technology": url("../../public/assets/technology/background-technology-desktop.jpg"), 
);
$tablet-backgrounds: (
    home: url("../../public/assets/home/background-home-tablet.jpg"),
    destination: url("../../public/assets/destination/background-destination-tablet.jpg"),
    crew: url("../../public/assets/crew/background-crew-tablet.jpg"),
    technology: url("../../public/assets/technology/background-technology-tablet.jpg"), 
);
$mobile-backgrounds: (
    home: url("../../public/assets/home/background-home-mobile.jpg"),
    destination: url("../../public/assets/destination/background-destination-mobile.jpg"),
    crew: url("../../public/assets/crew/background-crew-mobile.jpg"),
    technology: url("../../public/assets/technology/background-technology-mobile.jpg"), 
);

$grid-areas: "a","b","c","d","e";